page-reports {
  .reportImage {
    margin-left: auto;
    margin-right: auto;
  }
  #votes {
    color: color($colors, primary)
  }
  #submitted {
    color: color($colors, primary)
  }
  #in-progress {
    color: color($colors, warning)
  }
  #solved {
    color: color($colors, secondary)
  }

}
