<ion-header>
  <ion-navbar>
    <ion-title text-center style="font-family: 'Comic Sans MS'; font-size: 20px; font-weight: bold;">{{'signup.signup' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<ion-content padding style="background-color: beige" text-center>
  <img src="../../assets/imgs/signup-icon3.png" width="150" height="150">
  <form [formGroup]="signupForm" (submit)="showSignupConfirmationAlert()"
        style="box-shadow: 4px 10px 14px -1px rgba(0,0,0,0.27); height: auto;  opacity: 0.90; border: 2px solid transparent; margin-top: 20px;"
        text-left>
    <ion-item>
      <ion-icon item-left name="contact"></ion-icon>
      <ion-input type="text" placeholder="{{'signup.full_name' | translate}}" formControlName="fullName" [(ngModel)]="user.name"
                 required></ion-input>
      <button ion-button type="button" clear icon-only item-right
              (click)="showHelperTextForInput(fullNameInputHelpText)">
        <ion-icon name="help-circle" style="color: black;"></ion-icon>
      </button>
    </ion-item>

    <mat-error style="color: red;"
               *ngIf="signupForm.controls['fullName'].touched && signupForm.controls['fullName'].invalid">
      <ion-icon name="close" margin-right></ion-icon>
      "Username Required"
    </mat-error>
    <mat-hint style="color: green;" *ngIf="signupForm.controls['fullName'].valid">
      <ion-icon name="checkmark" color="secondary" margin-right></ion-icon>
    </mat-hint>

    <ion-item>
      <ion-icon item-left name="at"></ion-icon>
      <ion-input type="email" placeholder="{{'signup.email' | translate}}" formControlName="email" [(ngModel)]="user.emailAddress"
                 required></ion-input>
      <button ion-button type="button" clear icon-only item-right (click)="showHelperTextForInput(emailInputHelpText)">
        <ion-icon name="help-circle" style="color: black;"></ion-icon>
      </button>
    </ion-item>

    <mat-error style="color: red;" *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid">
      <ion-icon name="close" margin-right></ion-icon>
      {{getEmailValidationError()}}
    </mat-error>
    <mat-hint style="color: green;" *ngIf="signupForm.controls['email'].valid">
      <ion-icon name="checkmark" color="secondary" margin-right></ion-icon>
    </mat-hint>

    <ion-item>
      <ion-icon item-left name="lock"></ion-icon>
      <ion-input [type]="passwordType" placeholder="{{'signup.password' | translate}}" formControlName="password" [(ngModel)]="password"
                 clearOnEdit="false" required></ion-input>
      <button ion-button type="button" clear icon-only item-right (click)="hideShowPassword()">
        <ion-icon [name]="passwordIcon" style="color: black;"></ion-icon>
      </button>
      <button ion-button type="button" clear icon-only item-right
              (click)="showHelperTextForInput(passwordInputHelpText)">
        <ion-icon name="help-circle" style="color: black;"></ion-icon>
      </button>
    </ion-item>
    <mat-error style="color: red;" *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].invalid"><ion-icon name="close" margin-right></ion-icon>{{getPasswordValidationError()}}</mat-error>
    <mat-hint  style="color: green;" *ngIf="signupForm.controls['password'].valid"><ion-icon name="checkmark" color="secondary" margin-right></ion-icon></mat-hint>

    <ion-item>
      <ion-icon item-left name="lock"></ion-icon>
      <ion-input [type]="confirmationPasswordType" placeholder="{{'signup.confirm_password' | translate}}" formControlName="confirmPassword"
                 clearOnEdit="false" required></ion-input>
      <button ion-button type="button" clear icon-only item-right (click)="hideShowPasswordForConfirmPassword()">
        <ion-icon [name]="confirmationPasswordIcon" style="color: black;"></ion-icon>
      </button>
      <button ion-button type="button" clear icon-only item-right
              (click)="showHelperTextForInput(confirmPasswordInputHelpText)">
        <ion-icon name="help-circle" style="color: black;"></ion-icon>
      </button>
    </ion-item>
    <mat-error style="color: red;" *ngIf="signupForm.controls['confirmPassword'].touched && signupForm.controls['confirmPassword'].invalid"><ion-icon name="close" margin-right></ion-icon>{{getConfirmPasswordValidationError()}}</mat-error>
    <mat-hint  style="color: green;" *ngIf="signupForm.controls['confirmPassword'].valid"><ion-icon name="checkmark" color="secondary" margin-right></ion-icon></mat-hint>

    <!--<button ion-button block icon-start color="danger" style="font-family: 'Monotype Corsiva';font-size: 16px;" (click)="getLocationFromUser()">-->
    <!--<ion-icon name="locate"></ion-icon>-->
    <!--LOCATION-->
    <!--</button>-->

    <ion-item style="background-color: beige" text-left>
      <ion-toggle checked="false" (ionChange)="agreeToggleChangedState()"></ion-toggle>
      <ion-label style="font-family:'Calibri Light';font-size: 16px;font-weight: bold;">
        {{'signup.agreement_of_terms' | translate}}      </ion-label>
    </ion-item>

    <p  style="font-family: 'Calibri Light';font-size:14px;">
      {{ 'signup.signup_click1' | translate}}<u><a>{{ 'signup.terms_of_service' | translate}}</a></u>
      {{ 'signup.signup_click2' | translate}}<u><a>{{ 'signup.privacy_policy' | translate}}</a></u>{{ 'signup.signup_click3' | translate}}


    </p>

    <button ion-button type="submit" block [disabled]="signupButtonDisabledFlag || !signupForm.valid"
            style="background-color: mediumblue; margin-top: 25px; font-family: 'Monotype Corsiva';font-size: 16px;">
      {{'signup.signup' | translate}}
    </button>
  </form>
  <p style="font-weight: bold;font-size: 16px; font-family:'Calibri Light', sans-serif; margin-top: 50px;">{{'signup.account' | translate}}</p>
  <a style="font-weight: bold;font-size: 18px; font-family: 'Calibri Light', sans-serif;"
     (click)="navigateToLoginPage()">{{'signup.login_now' | translate}}</a>


</ion-content>
