page-on-my-route {

  agm-map {
    height: 100%!important;
  }
  #locateme{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }


  #getdirection{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  #get_direction_btn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #report_image{
    height: 60px;
  }



}
